body{
	margin: 0%;
	background-color: #f5e6db;
}

header{
	text-align: center;
}

h1{ /*Main title*/
	color: #ffb27a;
	background-color: #4F000B;
	font-size: 5vw;
	margin: 0px;
}

nav{ /*Navigation bar*/
	font-family: Georgia, Arial, serif;
	font-variant: small-caps;
	font-size: 2vw;
	padding: 16px 0px;
	font-size: 0px;
	width: 80%;
	margin: 0 auto;
}

nav a{ /*nav blocks*/
	display: inline-block;
    box-sizing: border-box;
	width: 25%;
	font-size: 2.3vw;
/*	padding: 0px 3px;*/
/*	margin: 0% 0.25%;*/
}

nav a, nav a:visited{ /*Nav links*/
	color: #f5e6db;
	background-color: #5c0a15;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.15s;
	transition-timing-function: ease-out;
}

nav a:focus, nav a:hover{ /*hover and tabbing*/
	color: #4F000B; 
	background-color: #f5e6db;
}

header div{
	display: block;
	background: linear-gradient(#ffb27a, #f5e6db);
}

h2{ /*Section titles*/
	color: #011627;
	background-color: #04a899;
	font-size: 2.5vw;
	font-family: Georgia;
	text-align: center;
}

body div{
	/*display: flex;
	justify-content: space-between;*/
	text-align: center;
	font-size: 0px;
	background-color: transparent;
}

div section{
	display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    width: 50%;
    font-size: 1.5vw;
}

div section:first-child{
	padding-right: 0.5%;
	width: 30%;
}

/*div section:second-child{
	padding-left: 0.5%;
}*/

div section:last-child{
	width: 80%;
}


ul{
	list-style-image: url("../imgs/smol.png");
}

details{ /*Whole dropdown field*/
	background-color: transparent;
	font-style: italic;
	margin-bottom: 20px;
}

summary{ /*Dropdown Title*/
	background-color: #04a899;
	font-style: normal;
}

footer{
	background-color: #ffb27a;
	clear: both;
	padding: 12px;
	padding-top: 25px;
	padding-bottom: 100px;
	text-align: center;
}

img{
	width: 8vw;
}

::selection {
  background-color: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background-color: #ffb7b7; /* Gecko Browsers */
}
